button{
    width: 3em;
    height: 3em;
    font-size: 1.5em;
    border: none;
    border-radius: 2em;
    margin: 0.3em;
}

button:hover{
    cursor: pointer;
}

.wrapper{
    background-color: #5F9C99;
    border-radius: 1em;
    padding: 1em;
}

.orang{
    background-color: #534F7D;
    color: #002;
}

.grai{
    background-color: #FF8B7D;
    color: #002;
}
.result{
    color: #002;
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
    font-size:3.5em;
}
